<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88004189389-u9kc544ogvgmp58j4fiknkp3ckbtb0j0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88004189389-u9kc544ogvgmp58j4fiknkp3ckbtb0j0</string>
	<key>API_KEY</key>
	<string>AIzaSyCv3GC73YqiVEJgcDLhl6A4YPUlWM8lVjc</string>
	<key>GCM_SENDER_ID</key>
	<string>88004189389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EshaanSharma.FBLA</string>
	<key>PROJECT_ID</key>
	<string>fbla-15018</string>
	<key>STORAGE_BUCKET</key>
	<string>fbla-15018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88004189389:ios:771fcf7f5960ee1339dd84</string>
	<key>DATABASE_URL</key>
	<string>https://fbla-15018.firebaseio.com</string>
</dict>
</plist>